body
{
}
h1{
    color: red;
}
/**.firstelement
{
    font-size:large;
}
.others{
    font-size:small;
}*/
ul li{
    font-size:small;
}
ul li:first-child{
    font-size:large;
}
h1 {
    color: blue;
}
a:visited{
    color:deeppink;
}
a:hover{
    font-size:x-large;
}
a:active{
    color:aqua;
}
#hide{
    display:none;
    background-color:pink;
    padding:20px;
}
div#magic:hover p#hide
{
    display:block;
}
ul li:nth-child(1)::first-letter{
    color:firebrick;
    font-size:xx-large;
}
p,li{
    font-family:'Comic Sans MS';
}
html{
    font-size:20px;
}
#remex{
    font-size:3rem;
}