html {
  font-family: Verdana, Geneva, sans-serif;
}

header {
  color: white;
  background-color: black;
  padding: 0.5rem;
  text-align: center;
}

footer {
  background-color: gray;
  color: white;
  padding: 5rem;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
}
