header{
    background-color:#004658;
    color:white;
  
   
}
body {
    font-family: 'Courier New';
    background-color:#cbe0da;
}
main {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #bce1e0;
    padding: 10px;
}
.education{
    background-color:#deedee;
    padding-left:10px;
    text-align:center;
    margin-left:20px;
    padding-right:10px;
}
    .education > h2 {
        background-color: #004658;
    }
img
{ 
    float:right;
}
aside{
    float:right;
}
h3{
    display:flex;
}
.flex-container
{
    
    display:flex;
}
.flex-container > p{
    border:groove;
    border-color:#004658;
    margin: 5px;
    background-color:#0f7eb0;
    color:white;
    border-radius:3px;
    padding:3px;
    box-shadow:none;
}
header > h1{
    text-align:center;
}
footer {
 
    background-color: #004658;
    color:white;
    padding:20px;
    font-size:12px;
    
}
footer>form{
    padding-left:120px;
}